.Task {
    background: #f0f0f0;
    margin: 10px 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.Task.reminder {
    border-left: 5px solid #0DBC79;
}

.Task:active {
    transform: scale(0.98);
}

.row {
    display: flex;
    justify-content: space-between;
}

.Task h3 {
    font-weight: 400;
}

.Task.reminder h3 {
    font-style: italic;
    text-decoration: line-through;
}
